# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm / VSCode specific files
.idea/
.vscode/

# Data files (if not using a data versioning tool)
data/raw/
data/processed/
